/* Reset margin and padding for a clean slate */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFCF8;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  color: white;
  flex-direction: column;

}

h1{
  color: black;
}


.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:0; /* Space between board and info */
  align-items: stretch; /* Ensure children are stretched to the same height */
  width: 80%; /* Adjust the width of the main container as needed */
}


/* Adjust the board container */
.board-container {
  flex: 5; /* Allow it to grow and shrink as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ensure there's enough space around the SVG */
  max-width: 100%;
  overflow: hidden; /* Hide overflow to prevent cropping */
  /* margin-top: 30px; */

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #272727;
}

/* Control the SVG size */
.svg-board {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.info-container {
  flex: 1; /* Allow it to grow and shrink as needed */

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */

  width: 80%;
  /* max-width: 600px; */
  background-color: #272727;
  padding: 5px 10px;
  box-sizing: border-box;
}

.info-item {
  text-align: center;
  font-size: 1em;
  margin: 10px 0; /* Optional: Adds spacing between items */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #272727;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.transparent-group {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}