/* Reset margin and padding for a clean slate */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0e3c5;
  font-family: 'Roboto', sans-serif; /* Use Roboto font */
  color: #f0e3c5;
  flex-direction: column;
}

h1{
  color: #356452;
}


.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:0; /* Space between board and info */
  align-items: stretch; /* Ensure children are stretched to the same height */
  height: 70vh;

}


/* Adjust the board container */
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ensure there's enough space around the SVG */
  overflow: hidden; /* Hide overflow to prevent cropping */
  /* margin-top: 30px; */
  height: 100%;
}

/* Control the SVG size */
.svg-board {
  width: 100%;
  height: 100%;
}

.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  background-color: #356452;
  padding: 5px 10px;
  box-sizing: border-box;
}

.info-item {
  text-align: center;
  font-size: 1em;
  margin: 10px 0; /* Optional: Adds spacing between items */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #356452;
  color: #f0e3c5;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #EE4266;
}


.transparent-group {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}